In [36]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [37]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [38]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [39]:
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])

In [40]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
ohe_encoder=ohe.fit_transform(data[['Geography']])
ohe_df=pd.DataFrame(ohe_encoder.toarray(),columns=ohe.get_feature_names_out())

In [41]:
data=pd.concat([data.drop('Geography',axis=1),ohe_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [42]:
X = data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [44]:
with open('label_encoder.pkl','wb') as file:
    pickle.dump(le,file)

with open('ohe_encoder.pkl','wb') as file:
    pickle.dump(ohe,file)


with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [45]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [46]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])


model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [48]:
log_dir="logs/fits" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensoflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)
early_stopping=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [49]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensoflow_callback,early_stopping])

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 100354.3281 - mae: 100354.3281 - val_loss: 98430.6641 - val_mae: 98430.6641
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99317.9766 - mae: 99317.9766 - val_loss: 96369.8047 - val_mae: 96369.8047
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 95777.8594 - mae: 95777.8594 - val_loss: 91260.2266 - val_mae: 91260.2266
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 89023.2344 - mae: 89023.2344 - val_loss: 83018.4375 - val_mae: 83018.4375
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 79590.1562 - mae: 79590.1562 - val_loss: 73055.5703 - val_mae: 73055.5703
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 69396.4531 - mae: 69396.4531 - val_loss: 63667.0117 - val_mae: 63667.0117
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 60559.1680 - mae: 60559.1680 - val_loss: 56610.5938 - val_mae: 56610.5938
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 54696.3125 - mae: 54696.3125 - val_loss: 52530.8672 - val_mae: 52530.8672
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 51760.5625 - mae: 51760.5625 - val_loss: 50933.6016 - val_mae: 50933.6016
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 50616.5352 - mae: 50616.5352 - val_loss: 50475.6328 - val_mae: 50475.6328
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50214.5781 - mae: 50214.5781 - val_loss: 50373.6523 - val_mae: 50373.6523
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50077.5977 - mae: 50077.5977 - val_loss: 50341.0938 - val_mae: 50341.0938
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50017.0391 - mae: 50017.0391 - val_loss: 50326.1367 - val_mae: 50326.1367
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 49971.8203 - mae: 49971.8203 - val_loss: 50300.1602 - val_mae: 50300.1602
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 49934.8125 - mae: 49934.8125 - val_loss: 50284.5664 - val_mae: 50284.5664
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 49903.0781 - mae: 49903.0781 - val_loss: 50269.5234 - val_mae: 50269.5234
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 49876.5586 - mae: 49876.5586 - val_loss: 50252.6523 - val_mae: 50252.6523
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 49850.1016 - mae: 49850.1016 - val_loss: 50242.8438 - val_mae: 50242.8438
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49823.0469 - mae: 49823.0469 - val_loss: 50239.3828 - val_mae: 50239.3828
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 49803.6328 - mae: 49803.6328 - val_loss: 50233.5859 - val_mae: 50233.5859
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49778.2930 - mae: 49778.2930 - val_loss: 50237.1953 - val_mae: 50237.1953
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49759.8594 - mae: 49759.8594 - val_loss: 50226.6875 - val_mae: 50226.6875
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49746.8203 - mae: 49746.8203 - val_loss: 50221.2539 - val_mae: 50221.2539
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49724.6445 - mae: 49724.6445 - val_loss: 50230.1016 - val_mae: 50230.1016
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49711.6602 - mae: 49711.6602 - val_loss: 50222.1055 - val_mae: 50222.1055
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 49689.8398 - mae: 49689.8398 - val_loss: 50204.6133 - val_mae: 50204.6133
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49672.3945 - mae: 49672.3945 - val_loss: 50216.8867 - val_mae: 50216.8867
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49663.9297 - mae: 49663.9297 - val_loss: 50201.9102 - val_mae: 50201.9102
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49646.9922 - mae: 49646.9922 - val_loss: 50191.7383 - val_mae: 50191.7383
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49636.7266 - mae: 49636.7266 - val_loss: 50194.1953 - val_mae: 50194.1953
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49621.3359 - mae: 49621.3359 - val_loss: 50197.4414 - val_mae: 50197.4414
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49611.0938 - mae: 49611.0938 - val_loss: 50214.4727 - val_mae: 50214.4727
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49598.5195 - mae: 49598.5195 - val_loss: 50210.7734 - val_mae: 50210.7734
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49583.3477 - mae: 49583.3477 - val_loss: 50198.8867 - val_mae: 50198.8867

In [50]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50191.7383 - mae: 50191.7383
Test MAE:50191.73828125

In [51]:
model.save('akash.h5')

c:\Users\akash\OneDrive\Desktop\ANN ClASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(